* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
=================
     Top-bar
================= */
#top-bar {
    display: none;
}



/* 
=================
     Header
================= */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* LOGO */
#logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

#logo span {
    color: coral;
}

#nav-links {
    display: none;
}

#search {
    display: none;
}



/* =================
   BLOG SECTION
================= */

#blog {
    padding: 40px 20px;
}

/* title */

#title {
    text-align: center;
    margin-bottom: 30px;
}

#title h2 {
    font-size: 40px;
}

#title a {
    display: inline;
    color: rgb(137, 137, 137);
    text-decoration: none;
    font-size: 20px;

}

#title span {
    color: #000000;
    font-size: 20px;
}


/* =================
   BLOG GRID
================= */

#imgs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* blog cards */

.new-img {
    height: 250px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

/* text */

.new-img span {
    font-size: 14px;
    color: #dfa974;
}

.new-img h2 {
    font-size: 20px;
    margin: 5px 0;
}

.new-img p {
    font-size: 14px;
}


/* =================
   BACKGROUND IMAGES
================= */

.img1 {
    background-image: url("blog1.png");
}

.img2 {
    background-image: url("blog2.png");
}

.img3 {
    background-image: url("blog3.png");
}

.img4 {
    background-image: url("blog4.png");
}

.img5 {
    background-image: url("blog5.png");
}

.img6 {
    background-image: url("blog6.png");
}

.img7 {
    background-image: url("blog7.png");
}

.img8 {
    background-image: url("blog8.png");
}

.img9 {
    background-image: url("blog9.png");
}

#btn {
    margin-top: 40px;
}

#btn a {
    background-color: chocolate;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
}













/* =================
   TABLET
================= */

@media (min-width:768px) {

    #imgs {
        grid-template-columns: repeat(2, 1fr);
    }

}







/* 
=================
   Desktop view
================= */
@media (min-width:1200px) {
    #side-bar {
        display: none;
    }

    /* 
=================
     Top-bar
================= */
    #top-bar {
        height: 42px;
        border: 1px solid rgb(255, 221, 176);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #left-bar span {
        margin-right: 40px;
        font-size: 14px;
        color: #555;
    }

    #left-bar {
        margin-left: 20px;
    }

    #left-bar i {
        color: #d4a373;
        margin-left: 6px;
    }

    #right-bar {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 100px;
    }

    /* social icons */
    #icons i {
        margin-right: 10px;
        cursor: pointer;
    }

    /* booking button */
    #button a {
        padding: 12px 18px;
        text-decoration: none;
        color: white;
        background: orange;
        font-size: 14px;
    }

    /* language */
    #language {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        cursor: pointer;
        position: relative;
    }

    #language img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    /* dropdown */
    .dropdown {
        position: absolute;
        top: 30px;
        left: 0;
        background: white;
        list-style: none;
        border: 1px solid #ddd;
        display: none;
        width: 60px;
    }

    .dropdown li {
        padding: 6px 10px;
        cursor: pointer;
    }

    .dropdown li:hover {
        background: #f2f2f2;
    }

    /* hover effect */
    #language:hover .dropdown {
        display: block;
    }

    /* 
=================
   Header part
================= */
    #header {
        padding: 20px 5%;
    }

    #logo a {
        font-size: 40px;
    }

    #nav-links {
        display: flex;
        gap: 25px;
        list-style: none;
        margin-left: 500px;
    }

    #nav-links a {
        display: block;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: black;
    }

    #search {
        display: block;
    }

    #imgs {
        grid-template-columns: repeat(3, 1fr);
    }

    /* main menu */

    .menu-item {
        position: relative;
        list-style: none;
    }

    /* dropdown menu */

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        width: 150px;
        display: none;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-top: 2px;
    }

    /* dropdown links */

    .dropdown li {
        list-style: none;
    }

    .dropdown li a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: black;
    }

    .dropdown li a:hover {
        background: #f5f5f5;
    }

    /* show dropdown */

    .menu-item:hover .dropdown {
        display: block;
    }




    #foot {
        display: flex;
        justify-content: space-evenly;
        gap: 270px;
    }

    #footer1,
    #footer2,
    #footer3 {
        width: 30%;
    }

    #footer3 form input {
        margin-top: 20px;
        width: 40%;
    }

    #footer3 button {
        margin-top: 20px;
    }

    #last-child:last-child {
        width: 100%;
    }
}























/* FOOTER */
#footer {
    background: rgb(36, 36, 75);
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LOGO */
#footer1 h3 {
    font-size: 50px;
    font-weight: 900;
    display: inline;
}

#footer1 span {
    color: chocolate;
    font-size: 50px;
}

/* TEXT */
#footer p {
    color: rgb(197, 194, 194);
    ;
    font-size: 16px;
    line-height: 24px;
}

/* SOCIAL ICON */
#social-icon {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

#social-icon i {
    border: 1px solid rgb(197, 194, 194);
    ;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#social-icon i:hover {
    background: chocolate;
    border-color: chocolate;
}

/* TITLES */
#footer2 span,
#footer3 span {
    color: chocolate;
    font-size: 20px;
    font-weight: 600;
}

#footer2,
#footer3 {
    margin-top: 20px;
}

/* NEWSLETTER */
#footer3 form {
    display: flex;
    margin-top: 30px;
}

#footer3 input {
    width: 80%;
    height: 40px;
    border: none;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

#footer3 button {
    width: 50px;
    border: none;
    background: chocolate;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

/* LINKS */
#links {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    /* center horizontally */
    padding: 0;
}

#links a {
    text-decoration: none;
    color: rgb(197, 194, 194);
    font-size: 16px;
}

#links a:hover {
    color: white;
}

#last-child {
    text-align: center;
    margin-top: 20px;
}

/* COPYRIGHT */
#last-child:last-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
}